@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container-1, .container-2, .container-3 {
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-container-3, .flex-box-rps {
  display: flex;
  border: 1px solid black;
  padding: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-1  div {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.flex-box-container-1a, .flex-box-container-2a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px;
}

#flex-box-result {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#ageInDays {
  padding: 16px;
  border: 1px solid black;
  margin: 8px;
}

/* Challenge 2 (.container-2,.flex-box-container-2, flex-box-container-2a, )  above in challenge 1, other stuff below*/

.flex-box-container-2a img {
  margin: 16px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

/* Challenge 3 */

.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.reset-button-div {
  display: flex;
}
